/* Stijl voor de container van het spel. Zorgt ervoor dat de inhoud gecentreerd wordt weergegeven. */
.game-holder {
    text-align: center;
}

/* Stijl voor de container die meerdere flexibele elementen bevat. Zorgt ervoor dat kinderen naast elkaar worden geplaatst. */
.div-holders {
    display: flex;
}

/* Stijl voor de container van de spelbedieningsknoppen. Voegt marge toe boven en onder de container. */
.controls {
    margin: 20px 0;
}

/* Stijl voor de knoppen in het spel. Voegt marge toe aan de knoppen en padding voor een betere klikervaring. */
.button-game {
    margin: 5px;
    padding: 10px;
}

/* Stijl voor het grid-element. Zorgt ervoor dat het grid wordt gecentreerd op de pagina. */
#grid {
    display: grid;
    margin: 0 auto;
}

/* Stijl voor de cellen binnen het grid. Bepaalt de afmetingen, achtergrondkleur en rand van elke cel. */
.cell {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid black;
    cursor: pointer;
}

/* Stijl voor een actieve cel binnen het grid. Verandert de achtergrondkleur van de cel wanneer deze actief is. */
.cell.active {
    background-color: #333;
}
