* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #f0f0f0;
    --other-color: #ffc633;
    --second-color: #616060;

    --h1-font: 5vw;
    --h2-font: 3.5vw;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.container {
    padding-bottom: 10px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 1% 3%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-color);
}

.navlist {
    display: flex;
    gap: 2rem;
}

.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s, color 0.3s;
}

.navlist a:hover,
.navlist a:focus {
    color: var(--bg-color);
    background-color: var(--second-color);
    text-decoration: none;
    transform: translateY(-3px);
}

.center-text {
    text-align: center;
}

.center-text h2 {
    font-size: var(--h2-font);
    font-weight: 700;
}   

.feature-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.box {
    padding: 1% 2%;
    border-left: 0.5rem solid var(--second-color);
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.f-icon i {
    font-size: 2rem;
}

.f-text h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.f-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--second-color);
    line-height: 1.5;
}

.box:hover {
    transform: translateY(-4px) scale(1.02);
    border-left: 0.5rem solid var(--text-color);
    cursor: pointer;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    padding: 2% 10%;
}

@media (max-width: 1610px) {
    header {
        padding: 2% 5%;
    }
    section {
        padding: 5% 5% 7%;
    }
    .brands {
        padding: 2% 5%;
    }
    .feature {
        padding: 1% 5% 1%;
    }
}

@media (max-width: 768px) {
    .feature-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .newsletter-content {
        flex-direction: column;
        padding: 5% 3%;
    }
}